@CHARSET "UTF-8";

* {
	font-family:monospace;
	text-shadow: 5px 5px 5px black;
	-moz-text-shadow: 5px 5px 5px black;
	-webkit-text-shadow: 5px 5px 5px black;
	-o-text-shadow: 5px 5px 5px black;
	-ms-text-shadow: 5px 5px 5px black;
}

FORM {
	padding: 8px;
	margin: 5px;
	border: 5px solid black;
	vertical-align: middle;
	align-content: center;
	text-align: center;

}

INPUT {
	padding: 6px;
	color: red;
	background-color: yellowgreen;
	border-radius: 20px;
	-moz-border-radius: 20px;
	-ms-border-radius: 20px;
	-o-border-radius: 20px;
	-webkit-border-radius: 20px;
	box-shadow: 5px 5px 5px black;
	-moz-box-shadow: 5px 5px 5px black;
	-webkit-box-shadow: 5px 5px 5px black;
	-o-box-shadow: 5px 5px 5px black;
	-ms-box-shadow: 5px 5px 5px black;
	
}

INPUT:hover {
	cursor: pointer;
}